.radio{
    font-weight: bold;
    width: auto;
    height: 35px;
    padding: 6px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #F6F7F9;
    color: #748194;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}